<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Токмок водоканал</title>
    <link rel="stylesheet" type="text/css" href="/static/article.css">
</head>
<body>
    <header class="header d-flex">
        <div class="logo">
          <a href="">
            <img src="/images/svg/logo.svg" alt="logo" />
          </a>
        </div>
        <nav class="nav d-flex">
          <a href="">Новости</a>
          <a href="">Вакансии</a>
          <a href="">Контакты</a>
          <a href="">Фотогалерея</a>
          <a href="">Абонентский отдел</a>
        </nav>
        <div class="burger-menu">
          <a href="">
            <img src="/images/svg/burger-menu.svg" alt="burger-menu" />
          </a>
        </div>
    </header>
    <main>
      <div class="wrapper">      
        <h1 class="news-title">КАНАЛИЗАЦИЯЛЫК КОЛЛЕКТОРДУ ТУРГУЗУУ ИШТЕРИ УЛАНТЫЛЫП ЖАТАТ</h1>
        <img class="news-image" src="/images/svg/image1.svg" alt="Аналитика компании за 2007 год" width="320" height="240">
        <div class="news-rectangle"></div>
        <div class="item" id="date">06.09.2023</div>
        <div class="item-container">
          <a href="https://www.facebook.com/" target="_blank">
              <img class="item" id="facebook" src="/images/svg/uil_facebook-f.svg" alt="facebook">
          </a>
          <a href="https://www.instagram.com/" target="_blank">
              <img class="item" id="instagram" src="/images/svg/ri_instagram-fill.svg" alt="instagram">
          </a>
          <a href="https://twitter.com/home" target="_blank">
              <img class="item" id="twitter" src="/images/svg/bi_twitter.svg" alt="twitter">
          </a>
        </div>
        <div class="item" id="share-rectangle"></div>
        <a class="item" id="share">Поделиться</a>
        <div class="news-text">
СОТРУДНИКИ ПЭУ "БИШКЕКВОДОКАНАЛ" ПРОДЕМОНСТРИРОВАЛИ ВЫСОКИЙ ПРОФЕССИОНАЛИЗМ, СТОЛКНУВШИСЬ С АВАРИЕЙ НА СЕТЯХ ВОДОПРОВОДА НА ПЕРЕСЕЧЕНИИ УЛИЦ: АНКАРА И АУЭЗОВА. СИТУАЦИЯ ТРЕБОВАЛА НЕМЕДЛЕННОГО РЕАГИРОВАНИЯ И ЧРЕЗВЫЧАЙНЫХ УСИЛИЙ ДЛЯ УСТРАНЕНИЯ НЕПОЛАДОК И ВОССТАНОВЛЕНИЯ НОРМАЛЬНОГО ВОДОСНАБЖЕНИЯ В РАЙОНЕ.

БРИГАДА СЛУЖБЫ ВОДОСНАБЖЕНИЯ ВЫЯВИЛА СЕРЬЕЗНЫЕ ПОВРЕЖДЕНИЯ ВОДОПРОВОДНОЙ СЕТИ. ВОДА БИЛА ИЗ-ПОД ЗЕМЛИ, СОЗДАВАЯ УГРОЗУ ДЛЯ ДОРОЖНОГО ДВИЖЕНИЯ И ОКРУЖАЮЩЕЙ ИНФРАСТРУКТУРЫ.

ДВЕ БРИГАДЫ РАБОТАЛИ КРУГЛОСУТОЧНО, СМЕНЯЯ ДРУГ ДРУГА. СПЕЦИАЛИСТЫ ПРОВЕЛИ СЛОЖНЫЕ РЕМОНТНЫЕ РАБОТЫ, ЗАМЕНЯЯ ПОВРЕЖДЕННЫЕ УЧАСТКИ ТРУБОПРОВОДОВ И ВОССТАНАВЛИВАЯ СИСТЕМУ.

В КРАТЧАЙШИЕ СРОКИ АВАРИЯ БЫЛА УСПЕШНО УСТРАНЕНА, И ВОДОСНАБЖЕНИЕ В РАЙОНЕ БЫЛО ВОССТАНОВЛЕНО.

СОТРУДНИКИ ПЭУ "БИШКЕКВОДОКАНАЛ" ЗАСЛУЖИВАЮТ ИСКРЕННЕЙ БЛАГОДАРНОСТИ ЗА СВОЙ НЕОЦЕНИМЫЙ ВКЛАД В ОБЕСПЕЧЕНИЕ НАДЕЖНОГО ВОДОСНАБЖЕНИЯ В ГОРОДЕ И ЗА СВОЮ СПОСОБНОСТЬ ЭФФЕКТИВНО СПРАВЛЯТЬСЯ С ЧРЕЗВЫЧАЙНЫМИ СИТУАЦИЯМИ.

        </div> 
      </div>
    <footer class="footer d-flex">
      <img src="/images/svg/footerLogo.svg" alt="logo" />
      <div class="address d-flex">
        <span>Адрес</span>
        <p>Ворошилова 51, Токмок</p>
      </div>
      <div class="phone d-flex">
        <span>Телефон</span>
        <p>+9962228905950</p>
      </div>
      <div class="insta d-flex">
        <span>Instagram</span>
        <p>@mp_tokmok_vodokanal</p>
      </div>
    </footer>
</body>
</html>