<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tokmok Vodokanal</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header class="header d-flex">
      <div class="logo">
        <a
          href="file:///Users/altynaykemelova/Desktop/3%20SEM/WEB/vodokanal/index.html"
        >
          <img src="/images/svg/logo.svg" alt="logo" />
        </a>
      </div>
      <!-- <nav class="nav"> -->
      <ul class="header__list d-flex">
        <li>
          <a href="file:///Users/altynaykemelova/Desktop/3%20SEM/WEB/vodokanal/article.html">Новости</a>
        </li>
        <li>
          <a href="file:///Users/altynaykemelova/Desktop/3%20SEM/WEB/vodokanal/job.html">Вакансии</a>
        </li>
        <li>
          <a href="file:///Users/altynaykemelova/Desktop/3%20SEM/WEB/vodokanal/contacts.html">Контакты</a>
        </li>
        <li>
          <a
            href="file:///Users/altynaykemelova/Desktop/3%20SEM/WEB/vodokanal/gallery.html"
            >Фотогалерея</a
          >
        </li>
        <li class="header__list-item">
          <a class="list-item" href="">Абонентский отдел</a>
          <ul>
            <li><a href="">Физические лица</a></li>
            <li><a href="">Юридические лица</a></li>
          </ul>
        </li>
      </ul>
      <!-- </nav> -->
      <!-- <div class="burger-menu">
        <a href="">
          <img src="./images/svg/burger-menu.svg" alt="burger-menu" />
        </a>
      </div> -->
    </header>
    <div class="wrapper">
      <section class="water d-flex">
        <div class="water__left">
          <h1>ВНИМАНИЕ ОТКЛЮЧЕНИЕ ВОДЫ !</h1>
          <div class="news-date d-flex">
            <div class="news">
              <a href="">Новости</a>
            </div>
            <div class="date d-flex">
              <span>21.06.2023</span>
            </div>
          </div>
          <div class="water__left-text">
            <p>
              22 ИЮНЯ 2023 ГОДА С 09:00 ЧАСОВ ДО 24:00 ЧАСОВ БУДЕТ ПРЕКРАЩЕНА
              ПОДАЧА ПИТЬЕВОЙ ВОДЫ В ЖИЛЫЕ ДОМА, ШКОЛЫ, ДЕТСКИЕ ДОШКОЛЬНЫЕ
              УЧРЕЖДЕНИЯ, ОБЪЕКТЫ ЗДРАВООХРАНЕНИЯ И ДРУГИЕ ОБЪЕКТЫ
              СОЦИАЛЬНО-БЫТОВОГО НАЗНАЧЕНИЯ И ПРОМЫШЛЕННОСТИ
              <a href="">...читать далее...</a>
            </p>
          </div>
          <div class="icons d-flex">
            <a href="">
              <img src="/images/svg/uil_facebook-f.svg" alt="facebook" />
            </a>
            <a href="">
              <img src="/images/svg/ri_instagram-fill.svg" alt="instagram" />
            </a>
            <a href="">
              <img src="/images/svg/bi_twitter.svg" alt="twitter" />
            </a>
          </div>
        </div>
        <div class="water__right">
          <img src="/images/svg/backRight.svg" alt="" />
        </div>
      </section>
      <section class="search__section">
        <form class="search d-flex">
          <input
            class="search-input"
            type="text"
            placeholder="Поиск по сайту"
          />
          <img
            class="search-svg"
            src="/images/svg/searchSvg.svg"
            alt="search-svg"
          />
        </form>
      </section>
      <section class="map__section d-flex">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2236.708475417207!2d74.56429161411641!3d42.88716681206942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec876ada6ae85%3A0xc514943747c0df47!2zMzgg0JrRgNCw0YHQvdC-0LTQvtC90YbQtdCyLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1695315189832!5m2!1sru!2skg"
          width="1000"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
      <section class="news-block">
        <h5>НОВОСТИ</h5>
        <div class="block d-flex">
          <div class="news1">
            <img src="/images/svg/news1.svg" alt="" />
            <h6>Отключение горячей воды</h6>
          </div>
          <div class="news1">
            <img src="/images/svg/news1.svg" alt="" />
            <h6>Отключение горячей воды</h6>
          </div>
          <div class="news1">
            <img src="/images/svg/news1.svg" alt="" />
            <h6>Отключение горячей воды</h6>
          </div>
          <div class="news1">
            <img src="/images/svg/news1.svg" alt="" />
            <h6>Отключение горячей воды</h6>
          </div>
          <div class="news1">
            <img src="/images/svg/news1.svg" alt="" />
            <h6>Отключение горячей воды</h6>
          </div>
        </div>
      </section>
      <div class="photos-block">
        <a
          href="file:///Users/altynaykemelova/Desktop/3%20SEM/WEB/vodokanal/gallery.html"
        >
          <h5>ФОТОГАЛЕРЕЯ</h5>
        </a>
        <div class="photos d-flex">
          <div class="col1 d-flex">
            <div class="img1">
              <img src="/images/svg/image1.svg" alt="img1" />
            </div>
            <div class="img2">
              <img src="/images/svg/image2.svg" alt="img2" />
            </div>
          </div>
          <div class="col2">
            <img src="/images/svg/image3.svg" alt="img3" />
          </div>
          <div class="col3 d-flex">
            <div class="img4">
              <img src="/images/svg/image4.svg" alt="img4" />
            </div>
            <a href="/" class="see-more d-flex">
              <span>Смотреть больше</span>
              <img src="/images/svg/arrowRight.svg" alt="arrow" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer d-flex">
      <a
        href="file:///Users/altynaykemelova/Desktop/3%20SEM/WEB/vodokanal/index.html"
      >
        <img src="/images/svg/footerLogo.svg" alt="logo" />
      </a>

      <div class="address d-flex">
        <span>Адрес</span>
        <p>Ворошилова 51, Токмок</p>
      </div>
      <div class="phone d-flex">
        <span>Телефон</span>
        <p>+9962228905950</p>
      </div>
      <div class="insta d-flex">
        <span>Instagram</span>
        <p>@mp_tokmok_vodokanal</p>
      </div>
    </footer>
  </body>
</html>
