<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/job.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
    </style>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header class="header d-flex">
            <div class="logo">
              <a href="{% url 'main_page' %}">
                <img src="/images/svg/logo.svg" alt="logo" />
              </a>
            </div>
            <nav class="nav d-flex">
                <a href="{% url 'news_list' %}">Новости</a>
                <a href="{% url 'job_list' %}">Вакансии</a>
                <a href="{% url 'contacts_page' %}">Контакты</a>
                <a href="{% url 'photo_gallery' %}">Фотогалерея</a>
                <a href="">Абонентский отдел</a>
            </nav>
            <div class="burger-menu">
              <a href="">
                <img src="/images/svg/burger-menu.svg" alt="burger-menu" />
              </a>
            </div>
        </header>
        <main class="content">
            <div class="jobs__wrapper">
                <div class="wrapper_">
                    <h1 class="jobs__title">Вакансии</h1>
                </div>
            </div>
            <div class="jobs__search">
                <div class="search__box search">
                    <form class="search-form">
                        <fieldset class="search-form__wrap">
                            <input type="text" class="search-form__field" placeholder="Поиск...">
                            <button class="search-form__submit" type="submit">
                                <div >
                                    <img class="search__icon" src="/images/svg/search.svg" alt="">
                                </div>
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="jobs jobb">
                {% for job in jobs %}
                    <div class="job__item">
                        <button class="job__title jobb-btn" data-job-id="{{ job.id }}">
                            <div class="job__title-flex">
                                {{ job.title }}
                                <img src="/images/svg/arrow.svg" alt="">
                            </div>
                        </button>
                        <div class="job__wrapper-info jobb-content" data-job-id="{{ job.id }}">
                        <div class="job__info">Требования</div>
                        <ul>
                            <li>{{ job.requirement1 }}</li>
                            <li>{{ job.requirement2 }}</li>
                            <li>{{ job.requirement3 }}</li>
                        </ul>
                        <div class="job__info">Зарплата</div>
                        <div class="job__info-t">{{ job.salary }}</div>
                        <div class="job__info">Контакты</div>
                        <div class="job__info-t">{{ job.contact }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
    <script src="/static/js/job.js"></script>
</body>
</html>
