<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/base.css" rel="stylesheet">
    <link href="/static/news.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <title>Новости</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__wrapper">
                    <div class="_container">
                        <div class="header__box">
                            <div class="header__logo">
                                <a href="{% url 'main_page' %}">
                                    <img src="/images/img/suu.png">
                                </a>
                            </div>
                            <hr class="hr">
                            <div class="logotext">
                                <h1>ВОДОКАНАЛ</h1>
                                <h2>Токмок</h2>
                            </div>
                            <ul class="header__list">
                                  <li><a href="{% url 'news_list' %}">Новости</a></li>
                                  <li><a href="{% url 'job_list' %}">Вакансии</a></li>
                                  <li><a href="{% url 'contacts_page' %}">Контакты</a></li>
                                  <li><a href="{% url 'photo_gallery' %}">Фотогалерея</a></li>
                                  <li><a href="#">Абонентский отдел</a></li>
                            </ul> <!-- </nav> -->
                            <div class="header__burger">
                                <img src="/images/img/burger.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="box1">
                <div class="__container">
                    <div class="box2">
                        <h1>Новости</h1>
                    </div>
                </div>
            </div>
            <section class="search__section">
                <form class="search d-flex">
                    <input class="search-input" type="text" placeholder="Поиск по сайту"/>
                    <img class="search-png" src="/images/svg/search.svg"/>
                </form>
            </section>
            <div class="allcontainers">
                <div class="news-container">
                    {% for news in news_list %}
                        <div class="box7">
                            <div class="box8">
                                <a href="{% url 'news_detail' pk=news.pk %}">
                                    <!-- Link to the news_detail view with the news' primary key (pk) -->
                                    <img class="news1" src="{{ news.image.url }}" alt="{{ news.title }}">
                                    <div class="box9">
                                        <hr class="box10">
                                        <div class="newsdate">
                                            <h3>{{ news.date }}</h3>
                                        </div>
                                    </div>
                                    <div class="box11">
                                        <h2>{{ news.title }}</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="__container">
                <div class="footer__box">
                    <div>
                        <img class="logo-link" src="/images/img/suu.png">
                    </div>
                    <hr class="hr">
                    <div class="flogotext">
                        <h1>ТОКМОК</h1>
                        <h2>Водоканал МП</h2>
                    </div>
                    <div class="info">
                        <div>
                            <h3>Адрес</h3>
                            <h4>Ворошилова 51, Токмок</h4>
                        </div>
                        <div>
                            <h3>Телефон</h3>
                            <h4>+9962228905950</h4>
                        </div>
                        <div>
                            <h3>Instagram</h3>
                            <h4>@mp_tokmok_vodokana</h4>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
